@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Noto Sans TC", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}

.wheel-container {
  perspective: 1000px;
}

.wheel-item {
  transform-origin: center right;
}

